################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GrapeCity.WPF.Sheets/obj/Debug
/GrapeCity.WPF.Sheets/bin/Debug
/GrapeCity.Sheets/obj
/GrapeCity.Sheets/bin/Debug
/GrapeCity.WPF.Sheets/obj/Release
/GrapeCity.Drawing/bin/Debug
/GrapeCity.Drawing/obj
/GrapeCity.WPF.Sheets.Tests/bin/Debug
/GrapeCity.WPF.Sheets.Tests/obj
/GrapeCity.Sheets.Drawing/bin/Debug
/GrapeCity.Sheets.Drawing/obj
/GrapeCity.WPF.Sheets/GrapeCity.WPF.Sheets.csproj.user
/GrapeCity.Sheets/GrapeCity.Sheets.csproj.user
/GcSpreadSamplesExplorer/bin/Debug
/GcSpreadSamplesExplorer/obj/Debug
/GrapeCity.CalcEngine/bin/Debug
/GrapeCity.CalcEngine/obj/Debug
/packages
/GrapeCity.WPF.Sheets.Test/bin/Debug/net472
/GrapeCity.WPF.Sheets.Test/obj
/GrapeCity.CalcEngine/obj/Release
/GcSpreadSamplesExplorer/bin/Release
/GcSpreadSamplesExplorer/obj/Release
/GrapeCity.CalcEngine/bin/Release
/GrapeCity.Sheets/bin/Release
/GrapeCity.Sheets.Drawing/bin/Release
/GrapeCity.WPF.Sheets/bin/Release
/GrapeCity.CalcEngine/.vs/GrapeCity.CalcEngine/v17
/GrapeCity.CalcEngine/obj
/GrapeCity.WPF.Sheets.Test/bin/Release/net472
/AlphaX.CalcEngine/.vs/GrapeCity.CalcEngine/v17
/AlphaX.CalcEngine/bin
/AlphaX.CalcEngine/obj
/AlphaX.Sheets/bin
/AlphaX.Sheets/obj
/AlphaX.WPF.Sheets/bin
/AlphaX.WPF.Sheets/obj
/Samples/bin
/Samples/obj
